<%= form_for [:admin, student] do |f| %>
<%= f.label "Name" %>
<%= f.text_field "name" %>
<%= f.label "Slack ID" %>
<%= f.text_field "slack_uid" %>
<%= f.label "Slack Name" %>
<%= f.text_field "slack_name" %>
<%= f.label "Posse" %>
<select name="student[posse_id]">
  <% Posse.all.each do |posse| %>
    <% if student.posse_id && posse.id == student.posse_id %>
      <option selected value="<%= posse.id %>"><%= posse.name %></option>
     <% else %>
      <option value="<%= posse.id %>"><%= posse.name %></option>
    <% end %>
  <% end %>
</select>

<%= f.submit %>
<% end %>
