<!DOCTYPE html>
<html>
<head>
  <title>PosseCup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<% if logged_in? %>
<p>Welcome, <%= current_user["name"] %></p>
<p><%= link_to "Logout", logout_path %></p>
<% else %>
<p><%= link_to "Admin Login", login_path %></p>
<% end %>

<% if admin? %>
<p><%= link_to "Manage Students", admin_students_path %></p>
<% end %>

</body>
</html>
